<div class="footer">
    <span class="footer-text float-left">
        <a href="mailto:shrutik.panchal@outlook.com">Email</a> &nbsp;|&nbsp; 
        <a href="https://www.linkedin.com/in/shrutikpanchal" target="_blank" rel="noopener noreferrer">LinkedIn</a> &nbsp;|&nbsp; 
        <a href="https://github.com/shrutik-panchal" target="_blank" rel="noopener noreferrer">GitHub</a>
    </span>
    <span class="footer-text float-right">
        &copy; {{ site.time | date: '%Y' }} Shrutik Panchal. 
        Updated: {{ site.time | date: '%Y-%m-%d' }}
    </span>
</div>
